dvc
boto3
gensim
nltk
seaborn
jupyter
opencv-python
imutils
scikit-image==17.1
tensorflow
tensorflow-hub
annoy
torch==1.7.1+cpu 
torchvision==0.8.2+cpu 
torchaudio===0.7.2 -f https://download.pytorch.org/whl/torch_stable.html
fastai==1.0.57
faiss

